old/*
thesis.aux
thesis.bcf
thesis.lof
thesis.log
thesis.lot
thesis.run.xml
thesis.synctex.gz
thesis.bcf
thesis.toc
thesis.bbl
thesis.blg
thesis.acn
thesis.xdy
thesis.snippet
*.pdf
*.pdf_tex
*.svg
*.png
*.jpg
*.dat
*.summary
*.column
data
figures
current_refs_list
garbage*
*~
*swp
~*
.pdf
figures*
*.pyc
