old/*
thesis.aux
thesis.bcf
thesis.lof
thesis.log
thesis.lot
thesis.run.xml
thesis.synctex.gz
thesis.bcf
thesis.toc
thesis.bbl
thesis.blg
thesis.acn
thesis.xdy
thesis.snippet
current_refs_list
garbage*
*~
*swp
~*
.pdf
figures*

